body {
    background-color: #313131;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header {
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
}

.row {
    padding: 0px;
    margin: 25px auto 25px auto;
}

#controls,
#timer {
    text-align: center;
}

.control-box,
#timer {
    cursor: pointer;
}

#controls {
    margin: 10px;
}

.control-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-label {
    font-size: 0.9em;
    white-space: nowrap;
}

.control,
.readout {
    display: inline-block;
    font-size: 2em;
    margin: 0 5px 0 5px;
}

.timer-label {
    font-size: 4em;
    margin: 40px auto 50px auto;
    width: 80%;
}

#timer {
    border-radius: 50%;
    border: solid 2px rgba(165, 246, 0, 0.81);
    height: 300px;
    width: 300px;
    margin: 0 auto 0 auto;
}

.timer-readout {
    font-size: 4em;
    margin: 50px auto 40px auto;
}


/*
div {
    border: solid 1px white;
}

*/